<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.EmpMapper">
    <!-- 分页条件查询员工 -->
    <select id="page" resultType="Emp">
        select e.*, d.name as deptName
        from emp e
        LEFT JOIN dept d on e.dept_id = d.id
        <where>
            <if test="name != null and name != ''">
                e.name like concat('%', #{name}, '%')
            </if>
            <if test="gender != null">
                and e.gender = #{gender}
            </if>
            <if test="begin != null and end != null">
                and e.entry_date between #{begin} and #{end}
            </if>
        </where>
        order by e.update_time desc
    </select>
    <!-- 批量删除员工 -->
    <delete id="deleteByIds">
    delete from emp where id in
        <foreach item="id" collection="list" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
    <!-- 修改员工信息 -->
    <update id="updateById">
        update emp 
        <set>
            <if test="name!= null and name!= ''">
                name = #{name},
            </if>
            <if test="username!= null and username!= ''">
                username = #{username},
            </if>
            <if test="gender!= null">
                gender = #{gender},
            </if>
            <if test="phone!= null and phone!= ''">
                phone = #{phone},
            </if>
            <if test="job!= null and job!= ''">
                job = #{job},
            </if>
            <if test="salary!= null and salary!= ''">
                salary = #{salary},
            </if>
            <if test="image!= null and image!= ''">
                image = #{image},
            </if>
            <if test="entryDate!= null">
                entry_date = #{entryDate},
            </if>
            <if test="deptId!= null">
                dept_id = #{deptId},
            </if>
            <if test="updateTime!= null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>
    <!-- 根据id查询员工图片地址 -->
    <select id="selectByIds" resultType="Emp">
        select * from emp where id in
        <foreach item="id" collection="list" separator="," open="(" close=")">
         #{id}
        </foreach>
    </select>

    <!-- 统计各个职位的员工人数 -->
    <select id="empJobData">
        SELECT 
        case 
            when job = 1 then'班主任'
            when job = 2 then'讲师'
            when job = 3 then'学工主管'
            when job = 4 then'教研主管'
            when job = 5 then'咨询师'
            else '其他'
            end as job,
        COUNT(*) as data FROM emp 
        group by job order by data;
    </select>
    <!-- 统计员工性别 -->
    <select id="empGenderData">
        SELECT if(gender=1, '男', '女') as name, COUNT(*) as value FROM emp GROUP BY gender;
    </select>
</mapper>