<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.StudentMapper">
  <!-- 分页条件查询班级 -->
  <select id="page" resultType="Student">
select s.*,c.name as clazzName from student s left join clazz c on s.clazz_id = c.id
    <where>
      <if test="name != null and name != ''">
       s.name like concat('%', #{name}, '%')
      </if>
      <if test="clazzId != null and clazzId != ''">
      and s.clazz_id = #{clazzId}
      </if>
      <if test="degree != null">
       and s.degree = #{degree}
      </if>
    </where>
order by s.update_time desc,name 
  </select>
  <!-- 批量删除 -->
  <delete id="deleteByIds">
  delete from student where id in
    <foreach item="id" collection="list" separator="," open="(" close=")">
          #{id}
    </foreach>
  </delete>

  <!-- 统计班级人数 -->

  <select id="studentCountData">
select c.name as clazzName,count(*) as data 
from student s right join clazz c on s.clazz_id = c.id 
group by c.name 
  </select>

  <!-- 统计学生学历信息 -->
  <select id="studentDegreeData">
select
      case 
            when degree = 1 then'初中'
            when degree = 2 then'高中'
            when degree = 3 then'大专'
            when degree = 4 then'本科'
            when degree = 5 then'硕士'
            when degree = 6 then'博士'
            else '其他'
            end as name,count(*) value 
      from student group by degree
  </select>
</mapper>